node_modules
npm-debug.log
config.js
zos.local.json
zos.development.json

.openzeppelin/.session

.idea/

secrets.json
secrets.js

package-lock.json

scripts/contract.js

contracts/EscrowMaticFlat.sol
